$title-color: #5E5E5E;
$text-color: #868686;

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.list-view {
  .video-item {
    margin: 1rem 0;
  }
}

h1, h2 {
  color: $title-color;
  a {
    color: $title-color;
  }
}

p {
  color: $text-color;
}
